html, body {
    font-family: "Roboto", "Arial","sans-serif";
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h2 {
    font-family: 'Open Sans',sans-serif;
    font-size: 6rem;
}
.container-block {
    margin: 0 auto;
}
@media all and (min-width: 768px) {
    .container-block {width: 750px;}
}
  
@media all and (min-width: 992px) {
    .container-block {width: 970px;}
}

@media all and (min-width: 1200px) {
    .container-block {max-width: 1140px;width:100%;}
}
  

header {
    padding: 10px 0;
}
header > .container-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    align-items: center;
}
.search-form {
    width: 260px;
    min-height: 50px;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-wrap: nowrap;
}

.search-buttom {
    cursor: pointer;
    position: relative;
    background: none;
    border: 0;
    padding: 0;
}

.search-buttom-span {
    display: block;
    height: 16px;
    width: 16px;
    line-height: 1em;
    margin: 10px;
}

.search-input {
    padding-right: 0.8em;
    line-height: 44px;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: #c0c0c0;
    border: none;
    width: 100%;
}


.container-header-minu {
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: #ffffff;
    background-color: rgb(0 0 0 / 85%);
    margin-left: -250px;
    transition: margin-left 500ms ease;
}
.container-header-minu.open {
    transition: margin-left 500ms ease;
    margin-left: 0;
}
.container-header-minu ul li {
    padding: 8px 0;
}

.container-header-minu ul {
    text-align: center;
}
.container-header-minu ul li a {
    color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
}
.header-menu-bth {
    width: 24px;
    height: 24px;
   
}
.header-menu-buttom-svg-link {
    width: 24px;
}
.overwlay.open {
    z-index: 1;
    background-color: rgb(0 0 0 / 70%);
    width: calc(100% - 250px);
    height: 100vh;
    right: 0;
    position: fixed;
}
.close-menu {
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 20px 20px 0 0;
}
.search-input:focus {border:none}

/* Баннер */
#bannertop {
    background-image: url(../img/CoverStory_robots.jpg);
    padding: 70px 0 143px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.bannertop-block {
    display: flex;
    flex-direction: column;
    align-items: end;
}
#bannertop h2 {
    color: #fff;
    max-width: 580px;
    line-height: 1.1;
    font-weight: 700;
    font-size: 96px;
}

#bannertop h2:before {
    content: '';
    position: relative;
    width: 15px;
    height: 137px;
    display: block;
    background-color: #b9dfdf;
    margin-bottom: 10px;
}
#bannertop p {
    color: #fff;
    max-width: 580px;
    font-size: 24px;
    margin-top: 20px;
}


#human-robot {
    padding: 70px 0;
    font-family: 'Open Sans',sans-serif;
}
.human-robot-block {
    display: flex;
    justify-content: center;
}
.human-robot-text {
    max-width: 550px;
    margin-right: 20px;
}
.human-robot-text h3 {
    font-size: 20px;
    margin-top: 50px
}


.human-robot-text h2 {
    color: #111111;
    font-size: 48px;
    margin-top: 20px;
    font-weight: 700;
}

.human-robot-text p {
    font-size: 20px;font-weight: 300;
    line-height: 32px;
    margin-top: 20px
}

.human-robot-img {
    min-width: 570px;
    background: url(../img/robot001.jpg);
    min-height: 488px;
    background-size: cover;
}
#future-work {
    padding: 70px 0 125px;
    background: #1a1a1a;
    color: #ffffff;
    position: relative;
    font-family: 'Open Sans',sans-serif;
}

#future-work:before {
    content: '';
    width: 50%;
    background: #b9dfdf;
    background-image: url(../img/1q.png);
    background-repeat: no-repeat;
    background-size: 191px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

#future-work h2 {
    font-size: 30px;
    font-weight: 400;
}

#future-work p {
    font-weight: 300;
    font-size: 1.125rem;
    font-style: italic;
    max-width: 475px;
    line-height: 28px;
    margin: 20px 0;
}

#future-work ul {
    display: flex;
}

#future-work ul li {
    width: 190px;
    background-size: cover;
    background-position: center;
    height: 171px;
    z-index: 2;
    position: relative;
}

#future-work ul li:nth-child(4) {
    background-image: url(../img/1.jpg);
}
#future-work ul li:nth-child(1) {
    background-image: url(../img/2.jpg);
}
#future-work ul li:nth-child(2) {
    background-image: url(../img/3.jpg);
}
#future-work ul li:nth-child(3) {
    background-image: url(../img/4.jpg);
}
#future-work ul li:nth-child(6) {
    background-image: url(../img/5.jpg);
}
#future-work ul li:nth-child(5) {
    background-image: url(../img/6.jpg);
}

#robot-sec {
    padding: 75px 0 45px;
    font-family: 'Open Sans',sans-serif;
}
.robot-sec-block {
    display: flex;
    gap: 10px;
}

.robot-sec-block-item {
    width: 373px;
}
.robot-sec-block-item.first-block {
    display: flex;
    flex-direction: column;
}
.robot-sec-block-item-text {
    font-size: 48px;
    font-weight: 700;
    background: #aea16a;
    padding: 40px 30px;
    color: #ffffff;
}
.robot-sec-block-item-img {
    height: 263px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/sec2.jpg);
}
.robot-sec-block-images {
    background-image: url(../img/sec1.jpg);
    background-size: cover;
}
.robot-sec-block-item.last-block {
    color: #111111;
    background-color: #b9dfdf;
    font-size: 20px;
    font-weight: 300;
    padding: 50px 30px;
}
.robot-sec-more {
    padding-top: 45px;
    text-align: center;
    font-weight: 700;
}

.robot-sec-more a {
    font-size: 16px;
    color: #111111;
    background-color: #b9dfdf;
    padding: 10px 30px;
}

.robot-sec-more a:hover {
    background-color: #9dd2d2;
}


.how-work-item-svg-link {
    width: 58px;
    fill: #aea16a;
}

.how-work-block {
    display: flex;
}

.how-work-item {
    padding-left: 30px;
}

.how-work-item-title {
    font-size: 1.875rem;
    font-weight: 400;
    margin: 31px 30px 0 0;
    color: #aea16a;
}

.how-work-item p {
    margin: 30px 30px 1px 0;
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}

#how-work {
    background: #333333;
    padding: 70px 0;
    font-family: 'Open Sans',sans-serif;
}

#tendencii h2 {
    margin: 20px 0 15px;
    font-size: 3rem;
    line-height: 1.1;
    color: #aea16a;
    font-weight: 700;
}

#tendencii {
    text-align: center;
    padding: 35px 0 85px;
    font-family: 'Open Sans',sans-serif;
}

#tendencii p {
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 792px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}



.tendencii-img {
    display: flex;
    gap: 30px;
}
.tendencii-img-item {
    background-repeat: no-repeat;
    background-size: cover;
    width: 361px;
    height: 462px;
}
.tendencii-img-item:nth-child(1) {
    background-image: url(../img/tendencii1.jpg);
  
}
.tendencii-img-item:nth-child(2) {
    background-image: url(../img/tendencii2.jpg);

}
.tendencii-img-item:nth-child(3) {
    background-image: url(../img/tendencii3.jpg);

}

#quote {
    padding: 68px 0 34px;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Open Sans',sans-serif;
}

.quote-svg-link {
    width: 104px;
    fill: #aea16a;
}

.quote-svg {
    margin-top: 35px;
}

.quote-block p {
    margin: 20px 0 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.quote-block span {
    text-transform: none;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.875rem;
    padding: 20px 0 35px;
    display: block;
    text-align: right;
}

.quote-block:before {
    content: '';
    position: absolute;
    left: 0;
    background: #aea16a;
    width: 15px;
    height: 252px;
    top: 55px;
}

.quote-block {
    position: relative;
    padding-left: 104px;
}


#artificial {
    color: #111111;
    background-color: #b9dfdf;
    padding: 90px 0;
}

.artificial-block {
    display: flex;
    background-color: #d7eded;
}

.artificial-img {
    background-image: url(../img/artificial.jpg);
    width: 684px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.artificial-text {
    padding-left: 33px;
    padding-right: 20px;
    font-family: 'Open Sans',sans-serif;
    max-width: 456px;
}

.artificial-text h2 {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
    margin: 53px 0 0;
}

.artificial-text p {
    margin: 52px 0 0;
    font-size: 1.25rem;
    font-weight: 300;
}

.artificial-more a {
    font-size: 16px;
    color: #111111;
    background-color: #b9dfdf;
    padding: 10px 30px;
    font-weight: 400;
}

.artificial-more {
    margin: 52px auto 80px 0;
}









#prospects {
    color: #111111;
   
    padding: 90px 0;
}

.prospects-block {
    display: flex;
    
}

.prospects-img {
    background-image: url(../img/prospects.jpg);
    width: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.prospects-text {
    position: relative;
    padding-left: 33px;
    padding-right: 20px;
    font-family: 'Open Sans',sans-serif;
    max-width: 570px;
}
.prospects-text:before {
    content: '';
    position: absolute;
    background-image: url(../img/1q.png);
    background-repeat: no-repeat;
    background-size: 191px;
    height: 100%;
    width: 50%;
}
.prospects-text h3 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 134px;
    font-weight: 600;
}
.prospects-text h2 {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
    margin: 20px 0 0;
}

.prospects-text p {
    margin: 20px 0 0;
    font-size: 1.25rem;
    font-weight: 300;
}

.prospects-more a {
    font-size: 16px;
    color: #111111;
    background-color: #b9dfdf;
    padding: 10px 30px;
    font-weight: 400;
}

.prospects-more {
    margin: 52px auto 10px 0;
}