html, body {
    font-family: "Roboto", "Arial","sans-serif";
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h2 {
    font-family: 'Open Sans',sans-serif;
    font-size: 6rem;
}
@media all and (min-width: 768px) {
    .container {width: 750px;}
}
  
@media all and (min-width: 992px) {
    .container {width: 970px;}
}

@media all and (min-width: 1200px) {
    .container {max-width: 1140px;width:100%;}
}
  

header {
    padding: 10px 0;
}
header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    align-items: center;
}
.search-form {
    width: 260px;
    min-height: 50px;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-wrap: nowrap;
}

.search-buttom {
    cursor: pointer;
    position: relative;
    background: none;
    border: 0;
    padding: 0;
}

.search-buttom-span {
    display: block;
    height: 16px;
    width: 16px;
    line-height: 1em;
    margin: 10px;
}

.search-input {
    padding-right: 0.8em;
    line-height: 44px;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: #c0c0c0;
    border: none;
    width: 100%;
}


.container-header-minu {
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: #ffffff;
    background-color: rgb(0 0 0 / 85%);
    margin-left: -250px;
    transition: margin-left 500ms ease;
}
.container-header-minu.open {
    transition: margin-left 500ms ease;
    margin-left: 0;
}
.container-header-minu ul li {
    padding: 8px 0;
}

.container-header-minu ul {
    text-align: center;
}
.container-header-minu ul li a {
    color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
}
.header-menu-bth {
    width: 24px;
    height: 24px;
   
}
.header-menu-buttom-svg-link {
    width: 24px;
}
.overwlay.open {
    z-index: 1;
    background-color: rgb(0 0 0 / 70%);
    width: calc(100% - 250px);
    height: 100vh;
    right: 0;
    position: fixed;
}
.close-menu {
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 20px 20px 0 0;
}
.search-input:focus {border:none}

/* Баннер */
#bannertop {
    background-image: url(../img/CoverStory_robots.jpg);
    padding: 70px 0 143px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.bannertop-block {
    display: flex;
    flex-direction: column;
    align-items: end;
}
#bannertop h2 {
    color: #fff;
    max-width: 580px;
    line-height: 1.1;
    font-weight: 700;
    font-size: 96px;
}

#bannertop h2:before {
    content: '';
    position: relative;
    width: 15px;
    height: 137px;
    display: block;
    background-color: #b9dfdf;
    margin-bottom: 10px;
}
#bannertop p {
    color: #fff;
    max-width: 580px;
    font-size: 24px;
    margin-top: 20px;
}


#human-robot {
    padding: 70px 0;
    font-family: 'Open Sans',sans-serif;
}
.human-robot-block {
    display: flex;
}
.human-robot-text h3 {
    font-size: 20px;
    margin-top: 50px
}


.human-robot-text h2 {
    color: #111111;
    font-size: 48px;
    margin-top: 20px
}

.human-robot-text p {
    font-size: 20px;font-weight: 300;
    line-height: 32px;
    margin-top: 20px
}

.human-robot-img {
    min-width: 570px;
    background: url(../img/robot001.jpg);
    min-height: 488px;
    background-size: cover;
}